body {
    background: #463F3A;
    color: #BCB8B1;
}

.main__header {
    color: #F4F3EE;
}

.aboutMe__header {
    color: #E0AFA0;
}

.aboutCourse__header {
    color: #E0AFA0;
}

.myMotivation__header {
    color: #E0AFA0;
}

.notes__weekNumber {
    color: #8A817C;
}

a {
    color: rgb(114, 172, 167);
}

.navigation__link {
    color: rgb(201, 149, 133);
}

p {
    color: rgb(201, 198, 194) 
}

main {
    width: 1000px;
    display:block;
    margin:auto;
}

img {
    width: 250px;
    height: 250 px;
    border-radius: 100%;
}